---

---

<nav class="container flex justify-around  py-4 bg-emerald-500 rounded-lg mt-2 max-w-fit">
  <a class="text-gray-800 underline hover:text-emerald-200" href="/">Home</a>
  <a class="text-gray-800 underline hover:text-emerald-200" href="add">Add</a>
</nav>
